@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 248, 250, 252;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.01em;
  }
}

/* Fix for high-density tables */
table {
  font-variant-numeric: tabular-nums;
}